body {
  background: #990000 url(./img/bg.jpg) center no-repeat;
  color: #fff;
  font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
  font-size: 2.4rem;
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ff9900;
}

.header {
  background-color: #990000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header div#dvLanguage {
  left: 2rem;
  position: absolute;
  top: 2rem;
  z-index: 2;
}

.header div#dvLanguage select {
  background-color: #990000;
  border: none;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}

.header div#dvLanguage select option {
  font-size: 1rem;
  font-weight: 600;
}

.header div#dvTitle {
  font-size: 2.4rem;
  font-weight: 600;
  position: absolute;
  top: 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.body {
  position: absolute;
  top: 24rem;
  width: 100%;
}
.body #pLogo {
  text-align: center;
  width: 100%;
}
.body #pLogo img {
  width: 50%;
}
.body #elInfo {
  margin:10%;
  text-transform: uppercase;
  width: 100%;
}
.body #elContact {
  color: #fff;
}
.body #elAddress {
  color: #ff9900;
}

.dxNav {
  right: 2rem;
  position: absolute;
  top: 10rem;
}
.dxNav a {
  color: #fff;
  display: block;
  font-size: 4rem;
  margin-bottom: 1.8rem;
}
.dxNav a:hover {
  color: #ff9900;
}
.dxNav span {
  padding: 1rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
}

.footer {
  display: none;
}
