body {
  background: url(./img/bg.jpg) center no-repeat no-repeat;
  ;
  color: #fff;
  font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FBBA00;
}

.header1 {
  border-bottom: none;
  background-color: #FBBA00;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header {
  background-color: #990A2C;
  height: 32px;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.header div {
  padding: 0.5rem;
}
.header div#dvLanguage {
  position: absolute;
  z-index: 2;
}
.header div#dvLanguage select {
  background-color: #990A2C;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  z-index: 2;
}

.header div#dvLanguage select option {
  font-size: 1rem;
  font-weight: 600;
}

.header div#dvTitle {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  top: 0px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.body {
  left: 0px;
  position: absolute;
  top: 40px;
  width: 100%;
}

.body #pLogo {
  margin-top: 6rem;
  text-align: center;
  width: 100%;
}
.body #pLogo img {
  width: 50%;
}
.body #elInfo {
  margin:10%;
  text-transform: uppercase;
  width: 100%;
}
.body #elContact {
  color: #fff;
}
.body #elAddress {
  color: #FBBA00;
}

.dxNav {
  right: 0px;
  position: absolute;
  top: 70px;
}
.dxNav a {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.dxNav a:hover {
  color: #FBBA00;
}
.dxNav span {
  padding: 1rem 1rem 0rem 1rem ;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
}

.footer {
  display: none;
}
