body {
  background: #990A2C;
  color: #fff;
  font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
  font-size: 3rem;
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FBBA00;
}

.header1 {
  border-bottom: solid 1px #000;
  background-color: #FBBA00;
  min-height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.header {
  background-color: #990A2C;
  left: 0;
  height: 70px;
  position: absolute;
  top: 30px;
  width: 100%;
}

.header div#dvLanguage {
  left: 1rem;
  position: absolute;
  top: 1rem;
  z-index: 2;
}

.header div#dvLanguage select {
  background-color: #990A2C;
  border: none;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem;
}

.header div#dvLanguage select option {
  font-size: 1.4rem;
  font-weight: 600;
}

.header div#dvTitle {
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  top: 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.body {
  background: url(./img/bg.jpg) center no-repeat;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 100%;
}

.body #pLogo {
  margin-top: 30rem;
  text-align: center;
  width: 100%;
}
.body #pLogo img {
  width: 50%;
}
.body #elInfo {
  margin:10%;
  text-transform: uppercase;
  width: 100%;
}
.body #elContact {
  color: #fff;
}
.body #elAddress {
  color: #FBBA00;
}

.dxNav {
  right: 2rem;
  position: absolute;
  top: 10rem;
}
.dxNav a {
  color: #fff;
  display: block;
  font-size: 6rem;
  margin-bottom: 1.8rem;
  text-align: center;
}
.dxNav a:hover {
  color: #FBBA00;
}
.dxNav span {
  padding: 1.5rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
}

.footer {
  display: none;
}
